.Button-inactive {
  background: #dddddd;
  border: none;
  cursor: crosshair;
}

.Button-active {
  background: #fdc605;
  border: none;
  cursor: pointer;
}

.Button svg {
  height: 1.5rem;
  width: 1.5rem;
}
